@charset "EUC-KR";
/* hybrid_boardArea */
.hybrid_boardArea{width:100%;}
.hybrid_boardArea .inputType{padding:3px; width:120px; height:26px; border:1px solid #ddd; background-color:#FFF;}

/* hybrid_Table_list */
.hybrid_TableList{margin-bottom:20px; width:100%; border-top:1px solid #ddd;}
table.hybrid_TableList{border-collapse:collapse;border-spacing:0; width:100%; table-layout:fixed;}
.hybrid_TableList th{padding:12px; font-family: 'Roboto', sans-serif; font-size:13px; color:#3f4244; font-weight:600; border-top:1px solid #ddd; border-bottom:1px solid #ddd; background-color:#F9F9F9;}
.hybrid_TableList td{padding:15px; color:#86898b; text-align:center; border-bottom:1px solid #ddd;  background-color:#FFF; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.hybrid_TableList td a{color:#86898b; text-align:left;}
.hybrid_TableList td.notice{text-align:left;}
.hybrid_TableList td.notice.strong>a{color:#666;}

@media screen and (max-width:1024px){
	.hybrid_TableList th{padding:3%;}
	.hybrid_TableList td{padding:3%;}
}

@media screen and (max-width:640px){
	.hybrid_TableList col.day{display:none;}
	.hybrid_TableList th.day{display:none;}
	.hybrid_TableList td.day{display:none;}
}

@media screen and (max-width:460px){
	.hybrid_TableList col.num{display:none;}
	.hybrid_TableList th.num{display:none;}
	.hybrid_TableList td.num{display:none;}
}

/* hybrid_Table_view */
table.hybrid_TableView{border-collapse:collapse;border-spacing:0; width:100%; table-layout:fixed;}
.hybrid_TableView{margin-bottom:20px; width:100%; border-top:1px solid #ddd;}
.hybrid_TableView th{padding:18px; color:#86898b; text-align:left; border-bottom:1px solid #ddd; background-color:#eee;}
.hybrid_TableView td{padding:15px 0; color:#86898b; border-bottom:1px solid #ddd;  background-color:#FFF;}
.hybrid_TableView td.td_left{text-align:left;}
.hybrid_TableView td.td_left>span.align{display:inline-block; padding:0 10px;}
.hybrid_TableView td.td_right{padding-right:15px; text-align:right;}
.hybrid_TableView td.td_right>span.align{display:inline-block; padding:0 10px;}
.hybrid_TableView td.bg{background-color:#F9F9F9;}
.hybrid_TableView td .td_TextArea{min-height:200px; text-align:left;}
.hybrid_TableView td .count{color:#ffa525;}
.hybrid_TableView td.td_left{padding-left:15px; text-align:left;}
.hybrid_TableView td.td_left>span.align{display:inline-block; padding:0 10px;}
.hybrid_TableView td .ul_floatType{width:100%;}
.hybrid_TableView td .ul_floatType:after{content:""; display:block; clear:both;}
.hybrid_TableView td .ul_floatType>li{float:left;  margin:0 3% 5px 0; }
.hybrid_TableView td .ul_floatType>li>label{display:inline-block; width:74px;}
.hybrid_TableView td .ul_floatType>li>input{padding:3px; height:22px; border:1px solid #ddd; background-color:#FFF;}
.hybrid_TableView td.td_comment{padding:0 0; width:100%; border-bottom:none;}
.hybrid_TableView td.td_comment01{padding:3% 0; width:100%;}
.hybrid_TableView td .comment_Box{width:100%;}
.hybrid_TableView td .comment_Box .comment{padding:10px 2%; width:96%; border-bottom:1px solid #ddd;}
.hybrid_TableView td .comment_Box .comment>.title{padding:0 0 5px 0; width:100%; color:#86898b;}
.hybrid_TableView td .comment_Box .comment>.title span{display:inline-block; }
.hybrid_TableView td .comment_Box .comment>.title>.bullet{padding:0 10px;}
.hybrid_TableView td .comment_Box .comment>.title>.day{color:#adb1b3;}
.hybrid_TableView td .comment_Box .comment>.title>.btnDel{padding-left:5px; cursor:pointer;}
.hybrid_TableView td .comment_Box .comment>.comment_Text{padding:0 5% 0 0; width:95%;}
.hybrid_TableView td .write_comment{width:100%;}
.hybrid_TableView td .write_comment:after{content:""; display:block; clear:both;}
.hybrid_TableView td .write_comment .textareaDiv{float:left; width:84%;}
.hybrid_TableView td .write_comment .textareaDiv>textarea{display:block; width:100%; height:88px; resize:none; border:1px solid #ddd; background-color:#FFF;}
.hybrid_TableView td .write_comment .btnWrite{float:right; width:15%;}

.hybrid_TableView td .td_TextArea iframe{width:100%!important;}
.hybrid_TableView td .td_TextArea img{width:auto!important; height:auto!important;max-width:100%;}
@media screen and (max-width:800px){
.hybrid_TableView td .td_TextArea iframe{height:450px}
}
@media screen and (max-width:640px){
.hybrid_TableView td .td_TextArea iframe{height:350px}
}
@media screen and (max-width:450px){
.hybrid_TableView td .td_TextArea iframe{height:300px}
}

/* hybrid_TableWrite */
.hybrid_TableWrite{margin:30px 0 0 0; width:100%; border-top:1px solid #ddd;}
.hybrid_TableWrite td{padding:18px; font-size:13px; color:#86898b; border-bottom:1px solid #ddd;}
.hybrid_TableWrite td.alignTop{vertical-align:top;}
.hybrid_TableWrite td .sex_Div{width:100%;}
.hybrid_TableWrite td .sex_Div>span{display:inline-block; padding-right:10px;}
.hybrid_TableWrite td .select_Div{width:100%;}
.hybrid_TableWrite td .select_Div:after{content:""; display:block; clear:both;}
.hybrid_TableWrite td .select_Div>input{float:left; width:150px;}
.hybrid_TableWrite td .select_Div>span{float:left; display:block; padding:5px;}
.hybrid_TableWrite td .select_Div>select{float:left; padding:5px 25px 5px 5px; width:100%; max-width:200px; height:28px; text-align:left; vertical-align:-2px; border:none; border:1px solid #ddd; background:#FFF url("../images/ico/custom_Select_.html") right 50% no-repeat; background-size:23px 37px;}
.hybrid_TableWrite td .textareaDiv{width:100%;}
.hybrid_TableWrite td .textareaDiv>textarea{padding:10px; width:100.5%; height:300px; resize:none; border:1px solid #ddd;}

/* search_Layer */
.hy_search_Layer{width:300px; margin:0 auto;}
.hy_search_Layer .inSearch{width:100%;}
.hy_search_Layer .inSearch:after{content:""; display:block; clear:both;}
.hy_search_Layer .hy_SelectDiv{float:left; width:38%;}
.hy_search_Layer .hy_SelectDiv>select{display:block; padding:2px; width:100%; height:27px;}

.hy_search_Layer .hy_InputDiv{float:right; width:60%; background-color:#fff; position:relative;}
.hy_search_Layer .hy_InputDiv>.hy_Input{width:100%; height:25px;}
.hy_search_Layer .hy_InputDiv>.hy_Input input{padding:5px 31px 5px 5px; width:100%; height:27px; border:1px solid #ddd;}
.hy_search_Layer .hy_InputDiv>.hy_searchBtn{position:absolute; top:2px; right:0; width:31px; text-align:right; }
.hy_search_Layer .hy_InputDiv>.hy_searchBtn>input{width:100%; height:24px;}

@media screen and (max-width:1024px){
	.hybrid_TableView th{padding:3%;}
	.hybrid_TableView td{padding:3%;}
}
@media screen and (max-width:768px){
	.hy_search_Layer{width:70%;}
	col.th_Col{width:23% !important;}
	.hybrid_TableWrite td{padding:3%;}
	.hybrid_TableWrite td .select_Div>input{width:45%;}
	.hybrid_TableWrite td .select_Div>select{width:45%;}
}

@media screen and (max-width:460px){
	.hy_search_Layer{width:80%;}
}

/* view_Btn */
.btn_Multi_Div{width:100%;}
.btn_Multi_Div:after{content:""; display:block; clear:both;}
.btn_Multi_Div>.left_Box{float:left;}
.btn_Multi_Div>.right_Box{float:right;}

.btn_L_Area{width:100%; text-align:left; position:relative;}
.btn_C_Area{width:100%; text-align:center; position:relative;}
.btn_R_Area{width:100%; text-align:right; position:relative;}

button.hy_button{display:inline-block; text-align:center; cursor:pointer;}
button.hy_button.c_write{display:block; width:100%; height:90px; color:#fff; font-weight:600; background-color:#B1B6BA;}
button.hy_button.write_ok{width:120px; height:35px; font-size:12px; color:#fff; font-weight:600; background-color:#FFA525;}
button.hy_button.cancel{width:120px; height:35px; font-size:12px; color:#fff; font-weight:600; background-color:#B1B6BA;}
button.hy_button.send{width:120px; height:35px; font-family: 'Roboto', sans-serif; font-size:12px; color:#fff; font-weight:600; background-color:#FFA525;}

a.hy_Btn{display:inline-block; text-align:center; text-decoration:none;}
a.hy_Btn.list{padding:10px 0 0 0; width:70px; height:35px; font-size:13px; color:#fff; background-color:#0A2E4E;}
a.hy_Btn.edit{padding:10px 0 0 0; width:70px; height:35px; font-size:13px; color:#fff; background-color:#B1B6BA;}
a.hy_Btn.delete{padding:10px 0 0 0; width:70px; height:35px; font-size:13px; color:#fff; background-color:#B1B6BA;}
a.hy_Btn.notice_list{padding:6px 0 0 0; width:70px; height:35px; font-size:13px; color:#fff; background-color:#E5006E;}
a.hy_Btn.write{padding:10px 0 0 0; width:120px; height:35px; font-size:13px; color:#fff; background-color:#041E41;}

@media screen and (max-width:360px){
	a.hy_Btn.notice_list{width:60px;}
	a.hy_Btn.edit{width:60px;}
	a.hy_Btn.delete{width:60px;}
	a.hy_Btn.write{width:80px;}
}

/* a button */
a.btnStyle{display:inline-block;}
a.btnStyle.write{margin-top:20px; padding:0 0 0 49px; width:120px; height:35px; font-size:13px; color:#fefefe; font-weight:600; line-height:35px; text-align:left; background:#ffa525 url("../images/board/bt-ico01.png") no-repeat 28px center;}
a.btnStyle.commentBt{float:right; padding:0 0 0 47px; width:120px; height:35px; font-size:13px; color:#fefefe; font-weight:600; line-height:35px; text-align:left; background:#666 url("../images/board/bt-ico01.png") no-repeat 26px center;}
a.btnStyle02{display:inline-block; margin-top:20px; margin-left:5px; padding:0 0 0 37px; width:85px; height:40px; font-size:13px; color:#fefefe; font-weight:600; line-height:35px; text-align:left;}
a.btnStyle02.list01{background:#ffa525 url("../images/board/bt-ico03.png") no-repeat 16px center;}
a.btnStyle02.list02{background:#999 url("../images/board/bt-ico04.png") no-repeat 16px center;}
a.btnStyle02.list03{background:#999 url("../images/board/bt-ico05.png") no-repeat 16px center;}
a.btnStyle02.list04{background:#ffa525 url("../images/board/bt-ico06.png") no-repeat 16px center;}
a.btnStyle02.list05{background:#999 url("../images/board/bt-ico07.png") no-repeat 16px center;}
a.btnStyle02.list06{background:#999 url("../images/board/bt-ico08.png") no-repeat 16px center;}

/* paging */
.hy_paging{margin:20px 0; width:100%; text-align:center;}
.hy_paging>a{display:inline-block; padding:6px 0 0 0; width:30px; height:30px; color:#999; text-align:center; border:1px solid #ddd; background-color:#FFF;  text-decoration:none;}
.hy_paging a.first{background: url("../images/btn/page_first.html") 0 0 no-repeat;}
.hy_paging a.last{background: url("../images/btn/page_last.html") 0 0 no-repeat;}
.hy_paging span{}
.hy_paging span>a{display:inline-block; padding:6px 0 0 0; width:30px; height:30px; color:#999; text-align:center; border:1px solid #ddd; background-color:#FFF; text-decoration:none;}
.hy_paging span>a:active,
.hy_paging span>a:focus,
.hy_paging span>a:hover{color:#fff; border:1px solid #E5006E; -webkit-transition:all 0.3s ease-in; -moz-transition:all 0.3s ease-in; -o-transition:all 0.3s ease-in; transition:all 0.3s ease-in;}
.hy_paging span>a.on{color:#000; border:1px solid #E5006E;}

/* page_Controls */
.hy_page_Controls{margin:20px 0 0 0; width:100%; border-top:1px solid #ddd;}
.hy_page_Controls>li{width:100%;}
.hy_page_Controls>li>a{display:block; padding:8px 0; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis; border-bottom:1px solid #ddd; background-color:#FFF; text-decoration:none;}
.hy_page_Controls>li>a:active,
.hy_page_Controls>li>a:focus,
.hy_page_Controls>li>a:hover{color:#FFA525;}
.hy_page_Controls>li>a>span{display:inline-block; padding:4px 0 0 0; width:80px;  height:21px; font-size:13px; color:#5c5f61; font-weight:600;}
.hy_page_Controls>li>a.prevBtn>span{background: url("../images/btn/page_PrevBtn.html") 45px 0 no-repeat;}
.hy_page_Controls>li>a.nextBtn>span{background: url("../images/btn/page_NextBtn.html") 45px 0 no-repeat;}

@media screen and (max-width:320px){
.hy_paging>a{padding:4px 0 0 0; width:25px; height:25px;}
.hy_paging span>a{padding:4px 0 0 0; width:25px; height:25px;}
}

/* photo_List */
.photo_ListArea{width:100%;}
.hy_photo_List{width:100%;}
.hy_photo_List:after{content:""; display:block; clear:both;}

.hy_photo_List>li{float:left; margin:0 0.5% 2% 0.5%; width:32.3%;}
.hy_photo_List>li>a{display:block; width:100%;}
.hy_photo_List>li>a img{width:100%; height:auto;}

.hy_photo_List>li span{display:block;}
.hy_photo_List>li .type{padding:2px 0 0 10px; width:75px; height:18px; font-family: 'Roboto', sans-serif; font-size:13px; color:#fff; background: url("../images/contents/star_TypeBg.html") 0 0 no-repeat;}
.hy_photo_List>li>.photo_Txt{width:100%;}
.hy_photo_List>li>.photo_Txt>span{padding-right:10px; width:100%; white-space:nowrap; overflow:hidden; text-overflow:ellipsis;}
.hy_photo_List>li>.photo_Txt>.title{padding:5px 0 3px 0; width:100%; color:#5c5f61;}
.hy_photo_List>li>.photo_Txt>.day{width:100%; color:#7d7f81;}
.hy_photo_List>li>.photo_Txt>.day>span{display:inline-block;}

@media screen and (max-width:640px){
	.hy_photo_List>li{padding:0 1% 2% 1%; width:48%; max-width:100%;}
}

/* hy_faq_Area */
.hy_faq_Area{padding:20px 0 0 0; width:100%;}
.hy_faqType{width:100%; border-top:1px solid #ddd;}
.hy_faqType>dt{padding:12px 0 0 2%; width:100%; height:40px; color:#666; border-bottom:1px solid #ddd; background: url("../images/board/ico_faq_off.gif") 98% 50% no-repeat; cursor:pointer;}
.hy_faqType>dt.on{background: url("../images/board/ico_faq_on.gif") 98% 50% no-repeat;}
.hy_faqType>dd{display:none; padding:20px; color:#333; line-height:20px; background-color:#F5F5F5; border-bottom:1px solid #ddd;}

/* 댓글 */
.comment-box{width:100%;}
.comment-box .cm_title{padding:0 0 20px 0; font-size:13px; color:#333; border-bottom:1px solid #ddd;}
.comment-box .cm_title > b{color:#ffa525;}
.comment-box .comment{padding:16px 18px; width:100%; border-bottom:1px solid #ddd;}
.comment-box .cm_info{padding:0 0 12px 0; width:100%; font-size:13px; color:#999;;}
.comment-box .cm_info strong{font-size:13px; color:#333; font-weight:600;}
.comment-box .cm_info b{display:inline-block; padding:0 2%;}
.comment-box .cm_info a.cm_del{display:inline-block; margin:0 0 0 8px; vertical-align:top; cursor:pointer;}
.comment-box .cm_info input.cm_input{margin:0 0 0 2%; padding:0 8px; width:150px; height:30px; font-size:13px; color:#333; line-height:30px; border:1px solid #ddd;}
.comment-box .cm_contents{width:100%; font-size:13px; color:#666; line-height:1.8em;}

.cm_comment{padding:22px 20px; width:100%; border:1px solid #bbb;}
.cm_table_info{width:100%;}
.cm_table_info:after{display:block; content:''; clear:both;}
.cm_table_info > li{float:left;}
.cm_table_info > li:last-child{padding-left:30px;}
.cm_name{display:inline-block; padding-top:6px; padding-right:10px; font-size:13px; color:#666;}
.cm_inputType{padding:7px; width:150px; height:30px; font-size:13px; color:#333; border:1px solid #ddd;}
.cm_inputType2{padding:7px; width:80px; height:30px; font-size:13px; color:#333; border:1px solid #ddd;}
.cm_inputType3{padding:7px; width:240px; height:30px; font-size:13px; color:#333; border:1px solid #ddd;}
.cm_comment .textarea{margin:20px 0; padding:12px; width:100%; height:83px; font-size:13px; color:#333; line-height:1.6em; word-break:break-all; border:1px solid #ddd; resize:none;}
.cm_comment .spamcode{width:100%; font-size:0;}
.cm_comment .spamcode:after{display:block; content:''; clear:both;}
.cm_comment .spamcode input#special{margin:0 10px 0 5px; vertical-align:top;}
.spamcode > label > img{vertical-align:top;}


/* paging */
.paging_Layer{padding-top:20px; width:100%; text-align:center;}
.paging_Layer a{display:inline-block; padding:8px 0 0 0; font-family: "Nanum Gothic" ,"나눔고딕" ,dotum, "돋움", sans-serif; width:34px; height:34px; font-size:12px; color:#666; font-weight:600; text-align:center; background-color:#FFF; border:1px solid #ddd;}
.paging_Layer span>a{display:inline-block; padding:8px 0 0 0; width:34px; height:34px; font-size:12px; color:#666; font-weight:600; text-align:center; border:1px solid #ddd;}
.paging_Layer span>a:active,
.paging_Layer span>a:focus,
.paging_Layer span>a:hover{color:#3A6789; border:1px solid #3A6789;}
.paging_Layer span>a.on{color:#3A6789; border:1px solid #3A6789;}


/** layer popup --- kkang(2017-03-20) **/
.dim_layer{position:fixed;z-index:10000;left:0;top:0;width:100%;height:100%;min-height:800px;background:rgba(0,0,0,.7);}
.container_layer{position:fixed;left:50%;border-radius:5px;background:#f9f9f9;box-shadow:0 0 20px #555;}
.common_layer{position:fixed;left:50%;background:#fff;}

ul.consent_list li{display:inline-block; font-size:15px; color:#666; vertical-align:top}
.empty{border-radius:7px;-moz-border-radius:7px;-webkit-border-radius:7px; border:3px solid #666;padding:30px;text-align:center;}

/*  회원가입 버튼스타일 */
.hy_Btn_L{width:100%; text-align:left;}
.hy_Btn_C{width:100%; text-align:center;}
.hy_Btn_R{width:100%; text-align:right;}
button.hy_ButtonStyle{display:inline-block; cursor:pointer; border:none; }
button.hy_ButtonStyle.ok{width:160px; height:45px; font-size:14px; color:#fff; font-weight:600; text-align:center; background-color:#041E41;}
button.hy_ButtonStyle.cancel{width:160px; height:45px; font-size:14px; color:#666; font-weight:600; text-align:center; background-color:#D6D6D6;}