@charset "EUC-KR";
/* layout */
body, html{width:100%;height:100%;
color:#777777; 
font-family: "나눔고딕" , "Nanum Gothic" ,"돋움", dotum, sans-serif;
font-size:12px;}
#wrap{width:100%;height:100%;}
#header{width:100%; }
#visual{width:100%;}
#contents{width:100%; }
#footer{width:100%; }
.in_Layer{width:1200px; margin:0 auto; }
.in_Layer2{width:1920px; margin:0 auto; }

#skip{}
#skip a{display:block; position:absolute; top:0; width:0; height:0; margin-top:-1px; text-align:center; white-space:nowrap; overflow:hidden; text-decoration:none;}
#skip a:focus, #skip a:active{position:relative; top:0; left:0;  width:100%; height:40px; line-height:40px; font-size:18px; font-weight:bold; color:#fff; background-color:#333; z-index:100;}

#wrap h1.logo{width:195px; height:315px; margin:0px auto; padding:60px 0;}
#wrap h1.logo a{display:block; }
#wrap .intro_line{width:100%; height:300px; padding:65px 0; background:url("../images/contents/intro_line.png") no-repeat;}
#wrap .intro_line .intro_txt{font-size:25px;  color:#fff;  text-align:center;font-family:'Noto Sans KR', sans-serif;   }
#wrap .intro_line .button_wrap{width:735px; margin:40px auto;}
#wrap .intro_line .button_wrap a{display:block; font-size:28px; text-align:center; width:325px; height:95px; float:left; color:#fff; border-radius:50px; padding-top:25px; font-weight:bold; font-family:'Noto Sans KR', sans-serif; }
#wrap .intro_line .button_wrap a:first-child{background:#735151; margin-right:80px;}
#wrap .intro_line .button_wrap a:last-child{background:#754e66;}

#header{width:100%; height:100px;}
#header .in_Layer:after{content:""; display:block; clear:both;}
#header .in_Layer2:after{content:""; display:block; clear:both;}
#header:after{content:""; display:block; clear:both;}
#header .gnb_wrap:after{content:""; display:block; clear:both;}
#header .gnb_wrap{width:100%; padding:15px 0;}
#header .gnb_wrap h1.logo02{float:left;}
#header .gnb_wrap ul.gnb:after{content:""; display:block; clear:both;}
#header .gnb_wrap ul.gnb{float:right; width:800px;}
#header .gnb_wrap ul.gnb li{float:left; padding:0 3%; text-align:Center;}
#header .gnb_wrap ul.gnb li a{display:block; font-size:18px; color:#333333; padding:30px 0;  font-family:'Noto Sans KR', sans-serif; }

/*
#visual .main_visual{width:100%; height:730px; background:url("../images/contents/main_visual.jpg") center no-repeat;}
*/
#visual .main_visual{width:100%; height:730px;}

#contents .sec01 p.sec01_tit{font-size:30px; color:#333; text-align:center; padding:60px 0; font-family:'Noto Sans KR', sans-serif;}
#contents .sec01 p.sec01_tit span{display:block; font-size:18px; color:#666; font-family:'Noto Sans KR', sans-serif;}
#contents .sec01 ul:after{content:""; display:block; clear:both;}
#contents .sec01 ul{width:100%; }
#contents .sec01 ul li{width:225px; height:485px; float:left; margin-right:100px; margin-bottom:80px;}
#contents .sec01 ul li:nth-child(4n){margin-right:0px;}
#contents .sec01 ul li .img_wrap{width:100%; height:317px;}
#contents .sec01 ul li p.theme{font-size:18px; color:#333; text-align:Center; padding:20px 0; font-family:'Noto Sans KR', sans-serif;}
#contents .sec01 ul li p.level{font-size:14px; color:#666; text-align:Center; padding:5px 0 40px; font-family:'Noto Sans KR', sans-serif;}
#contents .sec01 ul li a.rev_btn:hover{display:block; font-size:15px; width:100%; height:40px; color:#fff;  text-align:center;  background:#333;}
#contents .sec01 ul li a.rev_btn{display:block; font-size:15px; width:100%; height:40px; color:#333; padding:10px 0; text-align:center;  background:#fff; border:1px solid #333;}

#contents .footer_info{width:100%; height:445px; background:#e9e9e9; padding:20px 0;}
#contents .footer_info .footer_info_txt{float:left; margin-left:35px;}
#contents .footer_info .footer_info_txt p.tit{font-size:18px; color:#333; padding:40px 0 0px;font-family:'Noto Sans KR', sans-serif;}
#contents .footer_info .footer_info_txt p.tit span{font-size:28px; color:#fd6317; font-weight:600; font-family:'Noto Sans KR', sans-serif;}
#contents .footer_info .footer_info_txt p.txt{font-size:16px; color:#444; font-weight:300; padding-top:30px; line-height:24px; font-family:'Noto Sans KR', sans-serif;}


#footer .footer_list{width:100%; padding:5px 0;  background:#333333;}
#footer .footer_list ul:after{content:""; display:block; clear:both;}
#footer .footer_list ul li{padding-right:6%; float:left;}
#footer .footer_list ul li a{font-size:15px; color:#fff;  font-family:'Noto Sans KR', sans-serif;}
#footer  p.footer_p01{width:250px; font-size:16px; color:#444; float:left; padding:35px 0;  font-family:'Noto Sans KR', sans-serif;}
#footer	 p.footer_p01 span{color:#fd6317; font-family:'Noto Sans KR', sans-serif;}
#footer  p.footer_p02{width:930px;  padding:35px 0; font-size:15px; letter-spacing:-0.5px; color:#666;float:left; margin-left:20px; font-weight:300; font-family:'Noto Sans KR', sans-serif;}